@using FlossApp.Wasm.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="px-4 py-2">
            <GlobalErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <MudPaper Class="p-3">
                        <h1>Something went wrong.</h1>
                        <p>
                            An error went uncaught, and the process couldn't continue.
                            Details follow.
                        </p>
                        <hr />
                        <p>
                            <b>@context.GetType().FullName</b>:
                            <span>@context.Message</span>
                        </p>
                        <hr />

                        <MudExpansionPanels Class="mb-3">
                            <MudExpansionPanel Text="Details">
                                <p>TODO exception details component</p>
                            </MudExpansionPanel>
                        </MudExpansionPanels>

                        <div class="row">
                            <div class="col">
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CopyAll"
                                           OnClick="CopyErrorAsJson">
                                    Copy details as JSON
                                </MudButton>
                            </div>
                            <div class="col">
                                
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh"
                                           OnClick="AttemptRecovery">
                                    Attempt Recovery
                                </MudButton>
                            </div>
                        </div>

                    </MudPaper>
                </ErrorContent>
            </GlobalErrorBoundary>
        </article>
    </main>
</div>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
