@page "/Eyedropper"
@using FlossApp.Application.Enums
@using FlossApp.Application.ViewModels.Eyedropper
@using FlossApp.Wasm.Components
@inject IEyedropperPageViewModel ViewModel

<EyedropperComponent Image="ViewModel.ImageIn"
                     @bind-Schema="ViewModel.TargetSchema"
                     @bind-ComparisonAlgorithm="ViewModel.ComparisonAlgorithm" />

<div class="row mt-1">
    <div class="col" style="text-align: center;">
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" MaximumFileCount="1">
            <ActivatorContent>
                <MudButton Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.FileOpen">
                    Choose File
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>
    </div>
    <div class="col" style="text-align: center">
        <EnumPicker Label="Schema" T="ColorSchema" @bind-Value="ViewModel.TargetSchema" Filter="ViewModel.ValidSchemaFilter" />
    </div>
    <div class="col" style="text-align: center">
        <EnumPicker Label="Comparison Algorithm" T="ColorComparisonAlgorithms" 
                    @bind-Value="ViewModel.ComparisonAlgorithm" />
    </div>
</div>

<div class="row mt-1">
    <MudPaper Class="my-1 p-1">
        <div class="row">
            <div class="col col-auto color-sample-container">
                <div class="color-sample" style="background-color: #@ViewModel.SelectedColor.AsHex();"></div>
            </div>
            <div class="col">
                <h4>@ViewModel.SelectedColor.Name</h4>
                @ViewModel.SelectedColor.Number
            </div>
        </div>
    </MudPaper>
</div>
